@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');


:root {

    /* Colors: */
    --white-color: #FFFFFF;
    --puple-900-color: #151A6A;
    --purple-300-color: #C4A2FC;
    --blue-900-color: #252C3E;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--blue-900-color);

}

.main-content {
    width: 450px;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

#logo-icon {
    position: absolute;
    top: 19%;
    left: 30%;
    width: 50%;
    height: 100%;
    background: transparent url('img/overview.svg') 0% 0% no-repeat padding-box;
    background-size: 100%;
    cursor: pointer;
}

.content-wrapper {
    font: normal normal bold 1.5rem/48px Roboto;
    color: var(--puple-900-color);
    position: relative;
    /* top: 50%; */
    /* left: 50%; */
    cursor: pointer;
    width: 157px;
    height: 166px;
    /* margin: 0 auto; */
}


.main-content img {
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}
/* Bar progress */

.bar {
    position: absolute;
    top: 60%;
    left: 13%;
    width: 0%;
    height: 10px;
    background: var(--puple-900-color) 0% 0% no-repeat padding-box;
    border-radius: 4px;
}

.bar-bg {
    position: absolute;
    top: 60%;
    left: 13%;
    width: 74%;
    height: 10px;
    background: var(--white-color) 0% 0% no-repeat padding-box;
    border-radius: 4px;

}

.txt {
    position: absolute;
    top: 20%;
    right: 13%;
    color: var(--puple-900-color);
    text-align: right;
    font: normal normal bold 1.5rem/48px Roboto;
    text-transform: uppercase;
}

/* Start text - btn */
.start {
    position: absolute;
    top: 60%;
    left: 35%;
    cursor: pointer;
}


#numBreaths {
    font: normal normal bold 60px/48px Roboto;
    color: var(--white-color);
    position: absolute;
    top: 20px;
    right: 20px;
}


/* Media queries */

@media (min-width:768px) {
    .main-content {
        width: 768px;

    }

    .content-wrapper {
        width: 279px;
        height: 275px;
    }

    .txt {
        font-size: 3rem;
        top: 25%;
    }

    .start {
        font-size: 3rem;
        top: 70%;
    }

}

@media (min-width:900px) {
    .main-content {
        width: 900px;

    }

    .content-wrapper {
        width: 310px;
        height: 316px;
    }

}